In [8]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'Category': ['2011-11-01', '2011-11-02', '2011-11-03', '2011-11-04'],
    'Col1': [10, 20, 30, 40],
    'Col2': [5, 15, 25, 35],
    'Col3': [2, 4, 6, 8]
}

df = pd.DataFrame(data)

# Define transformation function
def transform(x):
    return x * 2 + 3  # Example transformation (customize as needed)

# Apply transformation to all numeric columns
df.iloc[:, 1:] = df.iloc[:, 1:].apply(transform)

print(df)

     Category  Col1  Col2  Col3
0  2011-11-01    23    13     7
1  2011-11-02    43    33    11
2  2011-11-03    63    53    15
3  2011-11-04    83    73    19

In [ ]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].apply(transform)

df

     Category  Col1  Col2  Col3
0  2011-11-01    49    29    17
1  2011-11-02    89    69    25
2  2011-11-03   129   109    33
3  2011-11-04   169   149    41

In [10]:
print(numeric_cols)

Index(['Col1', 'Col2', 'Col3'], dtype='object')