In [1]:
import os
import pandas as pd

In [2]:
filepath = os.path.join(os.getcwd(), "precipitation",  "precipitation_per_province.csv")
df = pd.read_csv(filepath, index_col=0)
df

,Abra,Agusan_del_Norte,Agusan_del_Sur,Aklan,Albay,Antique,Apayao,Aurora,Basilan,Bataan,...,Sultan_Kudarat,Sulu,Surigao_del_Norte,Surigao_del_Sur,Tarlac,Tawi-Tawi,Zambales,Zamboanga_del_Norte,Zamboanga_del_Sur,Zamboanga_Sibugay
date,,,,,,,,,,,,,,,,,,,,,
2011-01-01,2.987190,266.378753,225.074202,89.549004,505.383352,59.201293,46.835769,16.002800,58.259305,0.000000,...,14.591130,70.995200,599.648127,351.063439,0.000000,76.281389,0.000000,91.330714,64.880674,73.477742
2011-01-02,0.000000,970.295972,582.431268,111.662066,80.393717,72.561283,2.465114,18.812978,357.198463,0.000000,...,216.463984,404.325210,2103.488461,1205.521143,0.000000,280.918830,0.000000,247.752019,279.314944,305.416209
2011-01-03,0.000000,627.763448,420.245426,1.894506,0.000000,3.664628,0.000000,3.918340,0.323074,0.000000,...,6.484373,6.039855,907.545669,933.983862,0.000000,41.502655,0.000000,14.256265,17.531168,6.661915
2011-01-04,0.000000,348.963318,316.206421,0.187755,10.778390,0.081207,0.000000,0.000000,20.286521,0.000000,...,28.468113,45.046414,894.652066,773.673794,0.000000,135.471056,0.000000,35.891460,29.876123,26.370045
2011-01-05,0.437015,172.062923,75.191845,28.523278,386.871733,9.275239,6.771353,32.671067,0.650665,0.000000,...,6.413545,32.324964,541.941890,222.663313,0.000000,168.457852,0.000000,0.310593,0.005993,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-27,0.000000,107.203502,48.256429,121.094863,394.596169,71.325731,0.763768,28.485574,1.088594,14.896184,...,5.645330,8.502170,194.836537,93.539978,2.414681,47.637833,3.187997,42.119746,28.347274,19.396094
2011-12-28,0.430491,17.908349,26.226600,0.204923,8.797212,1.360835,5.743908,55.270169,0.010108,0.000000,...,0.028914,4.642864,21.660630,55.096031,0.000000,29.866377,0.000000,6.416324,3.859136,1.257043
2011-12-29,16.321932,125.684262,66.550934,1.156622,31.225892,12.955915,41.103658,131.223903,4.076729,1.724839,...,20.265661,7.115793,422.343408,200.632352,3.394961,5.438418,1.971363,26.419294,22.655441,17.214855
2011-12-30,0.386156,101.928333,59.860541,10.937336,6.828389,9.109511,6.300843,92.346072,1.960328,0.189848,...,8.761411,50.755549,276.052714,172.052471,7.328648,253.333592,0.273303,16.065288,12.864021,8.759841
2011-12-31,0.756256,102.558668,85.057173,0.357815,14.504991,4.906858,4.680678,9.256247,1.718530,0.000000,...,5.444326,21.901643,262.990008,225.110681,0.060496,111.713385,0.066918,46.647922,31.772969,22.410422

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 2011-01-01 to 2011-12-31
Data columns (total 80 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Abra                 365 non-null    float64
 1   Agusan_del_Norte     365 non-null    float64
 2   Agusan_del_Sur       365 non-null    float64
 3   Aklan                365 non-null    float64
 4   Albay                365 non-null    float64
 5   Antique              365 non-null    float64
 6   Apayao               365 non-null    float64
 7   Aurora               365 non-null    float64
 8   Basilan              365 non-null    float64
 9   Bataan               365 non-null    float64
 10  Batangas             365 non-null    float64
 11  Benguet              365 non-null    float64
 12  Biliran              365 non-null    float64
 13  Bohol                365 non-null    float64
 14  Bukidnon             365 non-null    float64
 15  Bulacan              365 non-null    float64
 16  Cagayan              365 non-null    float64
 17  Camarines_Norte      365 non-null    float64
 18  Camarines_Sur        365 non-null    float64
 19  Camiguin             365 non-null    float64
 20  Capiz                365 non-null    float64
 21  Catanduanes          365 non-null    float64
 22  Cavite               365 non-null    float64
 23  Cebu                 365 non-null    float64
 24  Compostela_Valley    365 non-null    float64
 25  Davao_del_Norte      365 non-null    float64
 26  Davao_del_Sur        365 non-null    float64
 27  Davao_Oriental       365 non-null    float64
 28  Dinagat_Islands      365 non-null    float64
 29  Eastern_Samar        365 non-null    float64
 30  Guimaras             365 non-null    float64
 31  Ifugao               365 non-null    float64
 32  Ilocos_Norte         365 non-null    float64
 33  Ilocos_Sur           365 non-null    float64
 34  Iloilo               365 non-null    float64
 35  Isabela              365 non-null    float64
 36  Kalinga              365 non-null    float64
 37  La_Union             365 non-null    float64
 38  Laguna               365 non-null    float64
 39  Lanao_del_Norte      365 non-null    float64
 40  Lanao_del_Sur        365 non-null    float64
 41  Leyte                365 non-null    float64
 42  Maguindanao          365 non-null    float64
 43  Marinduque           365 non-null    float64
 44  Masbate              365 non-null    float64
 45  Metropolitan_Manila  365 non-null    float64
 46  Misamis_Occidental   365 non-null    float64
 47  Misamis_Oriental     365 non-null    float64
 48  Mountain_Province    365 non-null    float64
 49  Negros_Occidental    365 non-null    float64
 50  Negros_Oriental      365 non-null    float64
 51  North_Cotabato       365 non-null    float64
 52  Northern_Samar       365 non-null    float64
 53  Nueva_Ecija          365 non-null    float64
 54  Nueva_Vizcaya        365 non-null    float64
 55  Occidental_Mindoro   365 non-null    float64
 56  Oriental_Mindoro     365 non-null    float64
 57  Palawan              365 non-null    float64
 58  Pampanga             365 non-null    float64
 59  Pangasinan           365 non-null    float64
 60  Quezon               365 non-null    float64
 61  Quirino              365 non-null    float64
 62  Rizal                365 non-null    float64
 63  Romblon              365 non-null    float64
 64  Samar                365 non-null    float64
 65  Sarangani            365 non-null    float64
 66  Siquijor             365 non-null    float64
 67  Sorsogon             365 non-null    float64
 68  South_Cotabato       365 non-null    float64
 69  Southern_Leyte       365 non-null    float64
 70  Sultan_Kudarat       365 non-null    float64
 71  Sulu                 365 non-null    float64
 72  Surigao_del_Norte    365 non-null    float64
 73  Surigao_del_Sur      365 non-null    float64
 74  Tarlac               365 non-null    float64
 75  Tawi-Tawi            365 non-null    float64
 76  Zambales             365 non-null    float64
 77  Zamboanga_del_Norte  365 non-null    float64
 78  Zamboanga_del_Sur    365 non-null    float64
 79  Zamboanga_Sibugay    365 non-null    float64
dtypes: float64(80)
memory usage: 231.0+ KB